/*CASE STUDY*/

@font-face {
    font-family: piersans;
    src: url(pier-regular.otf);
}


body, main{
    padding:0;
    margin:0;
    width:100%;
}

#hero{
    height:800px;
    overflow:hidden;
}

#hero, #hero img{
    width:100%;
    position:absolute;
    z-index:-5;
}

#hero div{
    width:100%;
    height:100%;
    background-color:black;
    z-index:-3;
    position:absolute;
    opacity:.5;  
}

#titles{
    margin:0 auto;
    width:80%;
    text-align:center;
    color:white;
    padding-top:250px;
    font-family:Playfair Display;
    font-weight:100;
    letter-spacing:1.5px;
}

#subtitle{
    font-family:piersans;
    font-size:22px;
}

#content {
    width:80%;
    margin:0 auto;
    margin-top:400px;
}

.contentcontainer{
    margin: 0 0 75px  0;
}

#content h2{
    font-size:50px;
    letter-spacing:2px;
    font-weight:100; 
    height:auto;
}

#content h3{
    font-size:30px;
    font-weight:100;
    margin-bottom:20px;
}

#content p{
    font-family:piersans;
    font-size:18px;
    line-height:25pt;
}

#content h4{
    font-size:25px;
    margin-bottom:10px;
    font-weight:100;
}



.contenttable{
    height:170px;
}

.contenttable .contentcontainer{
    width:45%;
    float:left;
    height:auto;
}

.contenttable > :nth-child(2){
    padding-left:10%;
}

.placeholder{
    height:500px;
    border:1px solid black;
}

.thirty{
    width:30%!important;  
}

.sixty{
    width:60%!important;
}

.sixty img{
    width:90%;
}

.fullwidth{
    width:100%!important;
}

.divider{
    width:120%;
    margin:75px 0 75px -20%;;
    height:1px;
    background-color:black;
}

ol li{
    list-style-type: lower-alpha;
}

li{
    font-family:piersans, sans-serif;
    font-size:18px;
    padding:10px;
    list-style:circle;
    line-height:25px;
    
}

/*CASE STUDY*/